.carrito-container {
    margin-right: 50px;
    background: none;
    border: none;
    display: flex;
    flex-direction: row;;
    font-size: larger;
}

.carrito-container span {
    margin-left: 10px;
    font-size: larger;
    font-weight: bold;
    color: rgb(253, 29, 29, 0.9);
}

.carrito-bs {
    width: 40px;
    height: 40px;
    color: rgba(253, 29, 29, 0.9);
}

.moes {
    height: 40px;
}

.moes-shadow {
    box-shadow: 1px 1px 15px 1px rgb(0, 0, 0);
    background-color: rgba(255, 0, 0, 0.181);
    border-radius: 50%;
}

