.backgroundMine {
    padding: 15px;
    box-shadow: 1px 1px 10px 1px rgb(148, 148, 148);
    margin: 5px
}

.achus {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.achus img {
    max-width: 200px;
    max-height: 200px;
}

.spinnercito {
    margin-left: 50%;
}


.loggin {
    display: inline-block;
    margin-left: 30%;
    margin-top: 10%;
}

.header-logout {
    display: flex;
    flex-direction: row;
    color: white;
}