.navbar {
    height: 60px;
    width: 100%;
    /* background: linear-gradient(90deg, rgb(178, 94, 234) 0%, rgba(253, 29, 29, 1) 30%, rgba(252, 176, 69, 1) 100%); */
    background: linear-gradient(90deg, rgb( 252, 176, 69, 1) 0%, rgb(253, 29, 29, 1) 30%, rgb(0, 0, 0) 100%);
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.navbar-brand {
    margin: 50px;
}