.navbar {
    height: 60px;
    width: 100%;
    background: linear-gradient(20deg, rgb( 252, 176, 69, 1) 10%,  rgba(0, 0, 0, 0.642) 100%);
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.navbar-brand {
    margin: 50px;
}

.categories {
    margin: auto;
}

.header-logout {
    display: flex;
    flex-direction: row;
    color: white;
    margin: 2%;
    padding: 2%;
}

.button-logout {
    margin-left: 4%;
}

.nav-item :hover {
    border-radius: 20%;
    color: rgb(72, 69, 252);
}