.button-counter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards-parts {
    box-shadow: 2px 3px 10px 1px rgba(0, 0, 0, 0.8);
}
.card img {
    width: 200px;
    height: 200px;
}

.buttons-addrest {
    background-color: rgba(255, 255, 255, 0.1);
}
