* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.App {
    background-color: rgb(22, 11, 34);
    background-image: url('../public/assets/mrSparkleFull.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}


.moes {
    height: 40px;
    margin-bottom: 15px;
}

.moes-shadow {
    box-shadow:  5px 2px 15px 2px white;
    border-radius: 50%;
}