.carrito-container {
    margin-right: 50px;
    background: none;
    border: none;
    display: flex;
    flex-direction: row;;
    font-size: larger;
}

.carrito-container span {
    margin-left: 10px;
    font-size: larger;
    font-weight: bold;
    /* color: rgb(41, 109, 235); */
    color: rgb(253, 29, 29, 0.9);
    border-radius: 20px;
    box-shadow: 1px 1px 15px -2.5px rgb(255, 255, 255);
}

.carrito-bs {
    width: 40px;
    height: 40px;
    color: rgba(253, 29, 29, 0.9);
    box-shadow: 1px 1px 15px 1px rgb(255, 255, 255);
    border-radius: 20%;
}

.moes {
    height: 40px;
}

.moes-shadow {
    box-shadow: 1px 1px 15px 1px rgb(0, 0, 0);
    background-color: rgba(255, 0, 0, 0.181);
    border-radius: 50%;
}

.empty-cart {
    max-height: 40px;
}

.total-empty {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}